<div class="site-section testimonial-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <span class="section-subtitle">Happy Customers</span>
        <h2 class="section-title">Testimonials</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="main-slider owl-single owl-carousel">
          {% for client in site.team | reverse | limit: 8 %}
          <div class="testimonial mx-auto">
            <figure class="img-wrap">
              <img src="{{ client.image }}" alt="{{client.name}}" class="img-fluid">
            </figure>
            <h3 class="name">{{client.name}}</h3>
            <blockquote>
              <p>&ldquo;{{ client.message }}&rdquo;</p>
            </blockquote>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>