<div class="site-footer">
  <div class="container">
    <div class="row justify-content-center copyright">

      <div class="col-lg-7 text-center">
        
        <div class="col-12 col-sm-12 col-lg-12 site-navigation text-center">
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu">
            <li><a href="{{ site.baseurl }}/sitemap.xml" target="_blank">Sitemap</a></li>
            <li><a href="{{ site.baseurl }}/feed.xml" target="_blank">RSS</a></li>
          </ul>
        </div>
        
          <br>
        <div class="widget">
          <ul class="social list-unstyled">
            <li><a href="{{ site.facebook_username }}" target="_blank"><span class="icon-facebook"></span></a></li>
            <li><a href="{{ site.twitter_username }}" target="_blank"><span class="icon-twitter"></span></a></li>
            <li><a href="{{ site.linkedin_username }}" target="_blank"><span class="icon-linkedin"></span></a></li>
            <li><a href="{{ site.instagram_username }}" target="_blank"><span class="icon-instagram"></span></a></li>
            <li><a href="{{ site.github_username }}" target="_blank"><span class="icon-github"></span></a></li>
            <li><a href="{{ site.youtube_username }}" target="_blank"><span class="icon-youtube-play"></span></a></li>
          </ul>
        </div>

        <div class="widget">
          <p>Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; 
            by <a href="{{ site.baseurl }}/">{{ site.logo }}</a>
          </p>
        </div>

      </div>


    </div>

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">WELCOME...</span>
      </div>
    </div>