<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/Images/favicon2.png">

    <meta name="description" content="{{ page.description | strip_html | truncate: 158 }}">
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">

    <meta name="author" content="{{ page.author_name }}">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/aos.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  
    <title>{{ page.title }}</title>
  </head>

  <Style>

/* Default background image for screens wider than 767px (PC screens) */
.post-slide.single-page {
  background-image: url('{{ page.image }}');
}

/* Background image for screens up to 767px wide (mobile screens) */
@media screen and (max-width: 767px) {
  .post-slide.single-page {
    background-image: url('{{ page.image_mobile }}');
  }
}


  </Style>

