<!-- {% for post in site.posts %}
          <div class="col-12">
            <div class="post-entry horizontal d-md-flex">
              <div class="media">
                <a href="{{ post.url | relative_url }}"><img src="{{ post.image }}" alt="Image" class="img-fluid"></a>
              </div>
              <div class="text">
                <div class="meta-cat"><a href="{{ post.url | relative_url }}">{{ post.keywords }}</a></div>
                <h2><a href="{{ post.url | relative_url }}">{{ post.title | truncate: 65 }}</a></h2>
                <div class="meta mb-0">
                  <span>{{ post.date | date: "%B %d, %Y" }}</span>
                  <span>&bullet;</span>
                  <span>{{ post.date | date: "%I:%M %p" }}</span>
                </div>
                <p>{{ post.description | strip_html | truncate: 90 }}</p>

              </div>
            </div>
          </div>
          {% endfor %} -->



        {% for post in site.posts %}
          <div class="col-12">
            <div class="post-entry horizontal d-md-flex">
              <div class="media">
                <a href="{{ post.url | relative_url }}"><img src="{{ post.image }}" alt="{{ post.title }}"
                    class="img-fluid"></a>
              </div>
              <div class="text">
                <div class="meta">
                  <span>{{ post.date | date: "%B %d, %Y" }}</span>
                  <span>&bullet;</span>
                  <span>{{ post.date | date: "%I:%M %p" }}</span>
                </div>
                <h2><a href="{{ post.url | relative_url }}">{{ post.title | truncate: 65 }}</a></h2>
                <p>{{ post.description | strip_html | truncate: 90 }}</p>

              </div>
            </div>
          </div>
          {% endfor %}