<script src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/aos.js"></script>
<script src="{{ site.baseurl }}/assets/js/imagesloaded.pkgd.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.animateNumber.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.fancybox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
