<div class="col-md-12 col-lg-1 order-lg-1">
    <div class="share sticky-top">
      <h3>Share</h3>
      <!-- <ul class="list-unstyled share-article">
            
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-whatsapp"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
            </ul> -->
      <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style list-unstyled share-article">
  
        <li><a class="a2a_button_facebook"><span class="icon-facebook"></span></a></li>
        <li><a class="a2a_button_whatsapp"><span class="icon-whatsapp"></span></a></li>
        <li><a class="a2a_button_pinterest"><span class="icon-pinterest"></span></a></li>
        <li><a class="a2a_button_linkedin"><span class="icon-linkedin"></span></a></li>
        <li><a class="a2a_button_x"><span class="icon-twitter"></span></a></li>
        <li><a class="a2a_button_copy_link"><span class="icon-link"></span></a></li>
        <li><a class="a2a_dd"><span class="icon-share"></span></a></li>
      </div>
  
      <!-- <script async src="https://static.addtoany.com/menu/page.js"></script> -->
      <!-- AddToAny END -->
  
      </ul>
    </div>
  </div>