<!-- <div class="site-section slider-team-wrap">
    <div class="container">
  
      <div class="row mb-5 align-items-center">
        <div class="col-md-6">
          <span class="section-subtitle">Team</span>
          <h2 class="section-title">Our Awesome Team</h2>
        </div>
        <div class="col-md-6 text-left text-md-right">
          <div class="slider-nav">
            <a href="#" class="js-prev js-custom-prev-v2"><span class="icon-arrow_back"></span></a>
            <a href="#" class="js-next js-custom-next-v2"><span class="icon-arrow_forward"></span></a>
  
          </div> 
        </div>
      </div>
  
      <div class="slider-team owl-carousel owl-3-slider">
        {% for port in site.data.client.client | reverse | limit: 40 %}
        <div class="team">
          <div class="pic">
            <img data-src="{{ port.image }}" alt="{{ port.name }}" class="lazy img-fluid">
          </div>
          <h3 class><a href="#"><span class="">{{ port.name }}</span></a></h3>
          <span class="d-block position">{{ port.categories }}</span>
          <p>{{ port.message }}</p>
          <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
        </div>
        {% endfor %}
      </div>
    </div> 
  </div>  -->


<!-- <div class="site-section slider-team-wrap">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6">
        <span class="section-subtitle">Team</span>
        <h2 class="section-title">Our Awesome Team</h2>
      </div>
      <div class="col-md-6 text-left text-md-right">
        <div class="slider-nav">
          <a href="#" class="js-prev js-custom-prev-v2"><span class="icon-arrow_back"></span></a>
          <a href="#" class="js-next js-custom-next-v2"><span class="icon-arrow_forward"></span></a>
        </div>
      </div>
    </div>
    <div class="slider-team owl-carousel owl-3-slider">
      {% for client in site.team | reverse | limit: 80 %}
      <div class="team">
        <div class="pic">
          <img data-src="{{ site.baseurl }}{{ client.image }}" alt="{{ client.name }}" class="lazy img-fluid">
        </div>
        <h3 class><a href="{{ client.url }}"><span class="">{{ client.name }}</span></a></h3>
        <span class="d-block position">{{ port.categories }}</span>
        <p>{{ client.message }}</p>
        <p class="mb-0"><a href="{{ client.url }}" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->

<div class="site-section slider-team-wrap">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6">
        <span class="section-subtitle">Team</span>
        <h2 class="section-title">Our Awesome Team</h2>
      </div>
      <div class="col-md-6 text-left text-md-right">
        <div class="slider-nav">
          <a href="#" class="js-prev js-custom-prev-v2"><span class="icon-arrow_back"></span></a>
          <a href="#" class="js-next js-custom-next-v2"><span class="icon-arrow_forward"></span></a>
        </div>
      </div>
    </div>
    <div class="slider-team owl-carousel owl-3-slider">
      {% for client in site.team | reverse | limit: 6 %}
      <div class="team">
        <div class="pic">
          <img data-src="{{ site.baseurl }}{{ client.image }}" alt="{{ client.name }}" class="lazy img-fluid">
        </div>
        <h3><a href="{{ client.url }}" target="_blank"><span>{{ client.name }}</span></a></h3>
        <span class="d-block position">{{ client.categories }}</span>
        <p>{{ client.message }}</p>
        <p class="mb-0"><a href="{{ client.url }}" target="_blank" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.slider-team').owlCarousel({
      loop: true, // Set loop to true for infinite loop
      margin: 30,
      nav: false,
      dots: true,
      responsive:{
        0:{
          items: 1
        },
        600:{
          items: 2
        },
        1000:{
          items: 3
        }
      }
    });
  });
</script>
