<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ site.data.data.name | jsonify }},
  "url": "{{ site.baseurl | absolute_url }}",
  "image": "{{ site.data.data.ahmed_image | absolute_url }}",
  "sameAs": [
    "{{ site.data.data.contact.linkedin }}",
    "{{ site.data.data.contact.twitter }}",
    "{{ site.data.data.contact.facebook }}",
    "{{ site.data.data.contact.instagram }}",
    "{{ site.data.data.contact.github }}"
  ],
  "jobTitle": {{ site.data.data.subtitle | jsonify }},
  "worksFor": {
    "@type": "Organization",
    "name": {{ site.data.data.experience[0].company | jsonify }}{% if site.data.data.experience[0].url %},
    "url": {{ site.data.data.experience[0].url | jsonify }}{% endif %}
  },
  "description": {{ site.data.data.profile | strip | jsonify }}
}
</script>