---
layout: default
---

<div class="site-hero py-5 bg-light mb-1">

  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12 text-center">
        <h1 class="text-black mb-0">Read The Article</h1>
      </div>
    </div>
  </div>
</div>

<!-- <div class="featured-post single-article">
  <div class="container">

    <div class="post-slide single-page"
      style="background-image: url('{{ page.image }}'); width: 100%; max-height: 484px; background-size: cover; background-repeat: no-repeat;">


      <div class="text-wrap pb-5" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="share">
          <ul class="list-unstyled">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
          </ul>
        </div>
        <h2 class="text-black">{{ page.title }}</h2>
        <div class="meta">
          <span>{{ page.date | date: "%B %d, %Y" }}</span>
          <span>&bullet;</span>
          <span>5 mins read</span>
        </div>
      </div>
    </div>

  </div>
</div> -->
<!-- -------------------------------------- -->
<div class="featured-post single-article">
  <div class="container">
    <!-- Image -->
    <img src="{{ page.image }}" class="rounded mx-auto d-block img-fluid" style="width: 100%; max-height: 600px;"
      alt="{{ page.title }}">
  </div>

  <div class="container" style="padding-top: 2px;">
    <div class="dropdown">
      <button class="btn dropdown-toggle" style="color: #A4C639;" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/author.png" width="30" height="30"
          alt="{{ page.author_name }}" style="border-radius: 50%;" /> <span class="author badge badge-light"
          padding="2"><b>{{ page.author_name }}</b></span>
      </button>
      <span class="badge badge-light" style="font-family: Montserrat, sans-serif;">&nbsp;&nbsp;Published: {{ page.date |
        date: "%B %d, %Y" }} - {{ page.date | date: "%I:%M %p" }}<br /></span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{page.author_bio}}</p>
              <cite title="Source Title">{{page.author_email}}</cite>
              <P>Find Me</P>
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 top-menu">

                  {% if page.social %}
                  {% for platform_link in page.social %}
                  {% assign platform = platform_link[0] %}
                  {% assign link = platform_link[1] %}
                  <a href="{{ link }}" class="d-inline-flex align-items-center" style="color: #A4C639;" target="_blank">
                    <span class="icon-{{ platform | downcase }} mr-2"></span>
                  </a>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>


            </blockquote>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</div>
<!-- -------------------------------------- -->
<div class="container article">
  <div class="row justify-content-center align-items-stretch">

    <article class="col-lg-8 order-lg-2 px-lg-5">
      <p class="h2 text-center">{{ page.title }}</p>
      <p> {{ content }}</p>



      <div class="pt-5 categories_tags ">
        {% if page.categories %}
        <p>Categories: <a href="#">{{ page.categories | join: ', ' }}</a></p>
        {% endif %}
      </div>

      <!-- <div class="post-single-navigation d-flex align-items-stretch">
        <a href="#" class="mr-auto w-50 pr-4">
          <span class="d-block">Previous Post</span>
          A Mounteering Guide For Beginners
        </a>
        <a href="#" class="ml-auto w-50 text-right pl-4">
          <span class="d-block">Next Post</span>
          12 Creative Designers Share Ideas About Web Design
        </a>
      </div> -->

      <div class="post-single-navigation d-flex align-items-stretch">
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="mr-auto w-50 pr-4">
          <span class="d-block">Previous Post</span>
          {{ page.previous.title }}
        </a>
        {% endif %}

        {% if page.next %}
        <a href="{{ page.next.url }}" class="ml-auto w-50 text-right pl-4">
          <span class="d-block">Next Post</span>
          {{ page.next.title }}
        </a>
        {% endif %}
      </div>

      <!-- <div class="post-single-navigation d-flex align-items-stretch">
        {% if page.previous %}
          <a href="{{ page.previous.url }}" class="mr-auto w-50 pr-4">
            {% if page.previous.image %}
              <img src="{{ page.previous.image }}" alt="{{ page.previous.title }}" class="img-fluid">
            {% endif %}
            <span class="d-block">Previous Post</span>
            {{ page.previous.title }}
          </a>
        {% endif %}
      
        {% if page.next %}
          <a href="{{ page.next.url }}" class="ml-auto w-50 text-right pl-4">
            {% if page.next.image %}
              <img src="{{ page.next.image }}" alt="{{ page.next.title }}" class="img-fluid">
            {% endif %}
            <span class="d-block">Next Post</span>
            {{ page.next.title }}
          </a>
        {% endif %}
      </div> -->


      <div id="telegram-comments">
        <script async src="https://telegram.org/js/telegram-widget.js?22"
          data-telegram-discussion="answereverything4_b/13" data-comments-limit="5"></script>
      </div>



  <!-- card second -->
<h3 class="card-text text-black pt-4">Related Post</h3>
  <div class="row row-cols-1 row-cols-md-3">
    {% assign popular_posts_limit = 5 %}
    {% assign popular_posts = site.posts | sort: 'date' | reverse %}
    {% for post in popular_posts %}
      {% if forloop.index <= popular_posts_limit %} 
        <div class="col mb-4">
          <div class="card" style="height: 100%;">
            <a href="{{ post.url | relative_url }}"><img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}"></a>
            <div class="card-body">
              <a href="{{ post.url | relative_url }}"><h5 class="card-title">{{ post.title | truncate: 15 }}</h5></a>
              <p class="card-text"><small class="text-muted">{{ post.date | date: "%b %-d, %Y %H:%M:%S" }}</small></p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
<!-- card end second -->



















<!-- <div class="pt-5">
        <h3 class="mb-5">6 Comments</h3> -->

<!-- Telegram Discussion Widget -->
<!-- https://t.me/answereverything4_b -->
<!-- https://t.me/c/2039956533/6 -->
<!-- https://t.me/c/2039956533/2
https://t.me/c/2039956533/10
https://t.me/answereverything4_b/9 -->


<!-- <ul class="comment-list">
          <li class="comment">
            <div class="vcard bio">
              <img src="{{ site.baseurl }}/assets/images/person_6.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
              <h3>Irish Smith</h3>
              <div class="meta">January 9, 2018 at 2:21pm</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam
                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit
                necessitatibus, nihil?</p>
              <p><a href="#" class="reply">Reply</a></p>
            </div>
          </li>

          <li class="comment">
            <div class="vcard bio">
              <img src="{{ site.baseurl }}/assets/images/person_5.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
              <h3>Christine Stewart</h3>
              <div class="meta">January 9, 2018 at 2:21pm</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam
                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit
                necessitatibus, nihil?</p>
              <p><a href="#" class="reply">Reply</a></p>
            </div>

            <ul class="children">
              <li class="comment">
                <div class="vcard bio">
                  <img src="{{ site.baseurl }}/assets/images/person_4.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Chintan Patel</h3>
                  <div class="meta">January 9, 2018 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
                    ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
                    impedit necessitatibus, nihil?</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>


                <ul class="children">
                  <li class="comment">
                    <div class="vcard bio">
                      <img src="{{ site.baseurl }}/assets/images/person_3.jpg" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                      <h3>John Doe</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                        necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure!
                        Quam voluptas earum impedit necessitatibus, nihil?</p>
                      <p><a href="#" class="reply">Reply</a></p>
                    </div>

                    <ul class="children">
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="{{ site.baseurl }}/assets/images/person_2.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Ben Afflick</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                            necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste
                            iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="comment">
            <div class="vcard bio">
              <img src="{{ site.baseurl }}/assets/images/person_1.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
              <h3>Jean Doe</h3>
              <div class="meta">January 9, 2018 at 2:21pm</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam
                impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit
                necessitatibus, nihil?</p>
              <p><a href="#" class="reply">Reply</a></p>
            </div>
          </li>
        </ul> -->
<!-- END comment-list -->

<!-- <div class="comment-form-wrap pt-5">
          <h3 class="mb-5">Leave a comment</h3>
          <form action="#" class="">
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email *</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="website">Website</label>
              <input type="url" class="form-control" id="website">
            </div>

            <div class="form-group">
              <label for="message">Message</label>
              <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Post Comment" class="btn btn-primary btn-md">
            </div>

          </form>
        </div>
      </div> -->


</article>

<div class="col-md-12 col-lg-1 order-lg-1">
  <div class="share sticky-top">
    <h3>Share</h3>
    <!-- <ul class="list-unstyled share-article">
          
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-whatsapp"></span></a></li>
          <li><a href="#"><span class="icon-linkedin"></span></a></li>
          <li><a href="#"><span class="icon-pinterest"></span></a></li>
          </ul> -->
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style list-unstyled share-article">

      <li><a class="a2a_button_facebook"><span class="icon-facebook"></span></a></li>
      <li><a class="a2a_button_whatsapp"><span class="icon-whatsapp"></span></a></li>
      <li><a class="a2a_button_pinterest"><span class="icon-pinterest"></span></a></li>
      <li><a class="a2a_button_linkedin"><span class="icon-linkedin"></span></a></li>
      <li><a class="a2a_button_x"><span class="icon-twitter"></span></a></li>
      <li><a class="a2a_button_copy_link"><span class="icon-link"></span></a></li>
      <li><a class="a2a_dd"><span class="icon-share"></span></a></li>
    </div>

    <!-- <script async src="https://static.addtoany.com/menu/page.js"></script> -->
    <!-- AddToAny END -->

    </ul>
  </div>
</div>
<!-- <div class="col-lg-3 mb-5 mb-lg-0 order-lg-3">

      <div class="mb-4 sticky-top">
        <a href="https://vimeo.com/342333493" data-fancybox class="video-wrap">
          <span class="play-wrap"><span class="icon-play"></span></span>
          <img src="{{ site.baseurl }}/assets/images/img_h_5.jpg" alt="Image" class="img-fluid rounded">
        </a>
      </div>

      <div class="share floating-block">

        <h2 class="mb-3 text-black">Subscribe to Newsletter</h2>
        <p>Far far away behind the word mountains far from.</p>
        <form action="#">
          <input type="email" class="form-control mb-2" placeholder="Enter email">
          <input type="submit" value="Subscribe" class="btn btn-primary btn-block">
        </form>
      </div>
    </div> -->

<div class="col-lg-3 mb-5 mb-lg-0 order-lg-3" style="position: relative; z-index: 1;">
  <div class="mb-4 sticky-top">
    <a href="https://youtu.be/{{ page.youtubeid }}" data-fancybox class="video-wrap">
      <span class="play-wrap"><span class="icon-play"></span></span>
      <img src="{{ site.baseurl }}/assets/images/img_h_5.jpg" alt="Image" class="img-fluid rounded">
    </a>
    <div class="share floating-block">
      <h2 class="mb-3 text-black">Watch the Video</h2>
      <p>Far far away behind the word mountains far from.</p>

    </div>
    <div class="share floating-block">
      <h2 class="mb-3 text-black">Popular Posts</h2>
      {% assign popular_posts_limit = 7 %}
      {% assign popular_posts = site.posts | sort: 'date' | reverse %}

      {% for post in popular_posts %}
      {% if forloop.index <= popular_posts_limit %} <div class="media post_item">
        <img style="border-radius: .5rem;" width="80" height="40" src="{{ post.image }}" alt="{{ post.title }}">
        <div class="media-body">
          <a href="{{ post.url | relative_url }}">
            <h3 class="ml-3 text-black"><b>{{ post.title | truncate: 20 }}</b></h3>
          </a>
          <p class="ml-3 text-black">{{ post.date | date: "%b %-d, %Y" }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="br"></div>
  </div>
</div>

</div>

</div>
</div>