---
layout: default
---

<div class="container mb-5">
  <div class="huge-article d-md-flex">
    <div class="img-wrap">
      <img style="border-radius: 10px;" src="{{ page.image }}" alt="Image" class="img-fluid">
    </div>
    <div class="text-wrap">
      <div class="meta"></div>
      <h3>{{ page.subtitle }}</h3>
      <p>{{page.message | truncate: 160 }}</p>
      <div class="author d-flex align-items-center">
        <div class="img mr-3">
          <img src="{{ page.image}}" alt="Author Image" class="img-fluid rounded-circle">
        </div>
        <div class="text">
          <h3>{{page.name}}</h3>
          <strong>{{page.tag}}</strong>
        </div>
        
        <!-- <div class="text justify-content-between">
            <ul>
            <a href="{{ site.facebook_username }}" class="d-inline-flex align-items-center" target="_blank"><span
                class="icon-facebook mr-2"></span></a>
            <a href="{{ site.twitter_username }}" class="d-inline-flex align-items-center" target="_blank"><span
                class="icon-twitter mr-2"></span></a>
            <a href="{{ site.instagram_username }}" class="d-inline-flex align-items-center" target="_blank"><span
                class="icon-instagram mr-2"></span></a>
            <a href="{{ site.linkedin_username }}" class="d-inline-flex align-items-center" target="_blank"><span
                class="icon-linkedin mr-2"></span></a>
            <a href="{{ site.github_username }}" class="d-inline-flex align-items-center" target="_blank"><span
                class="icon-github mr-2"></span></a>
            <a href="{{ site.youtube_username }}" class="d-inline-flex align-items-center" target="_blank"><span
                class="icon-youtube-play mr-2"></span></a>
              </ul>
        </div> -->

        <div class="text justify-content-between">
          <ul>
              {% for social in page.social_media %}
              {% if social.username %}
              <a href="{{ social.username }}" class="d-inline-flex align-items-center" target="_blank">
                  <span class="icon-{{ social.name }} mr-2"></span>
              </a>
              {% endif %}
              {% endfor %}
          </ul>
      </div>
      
      

      </div>
    </div>
  </div>
</div>


<div class="container article">
  <div class="row justify-content-center align-items-stretch">
    
    <article class="col-lg-8 order-lg-2 px-lg-5">
      <p>{{content}}</p>

 

          <div class="post-single-navigation d-flex align-items-stretch">
            {% if page.previous %}
              <a href="{{ page.previous.url }}" class="mr-auto w-50 pr-4">
                <span class="d-block">Previous Team Member</span>
                {{ page.previous.name }}
              </a>
            {% endif %}
            
            {% if page.next %}
              <a href="{{ page.next.url }}" class="ml-auto w-50 text-right pl-4">
                <span class="d-block">Next Team Member</span>
                {{ page.next.name }}
              </a>
            {% endif %}
          </div>


       
        

    </article>

    {%- include sharebutton.html -%}
    <div class="col-lg-3 mb-5 mb-lg-0 order-lg-3">

      <div class="mb-4">
        <a href="https://vimeo.com/342333493" data-fancybox class="video-wrap">
          <span class="play-wrap"><span class="icon-play"></span></span>
          <img src="/assets/images/img_h_5.jpg" alt="Image" class="img-fluid rounded">
        </a>
      </div>  

      <div class="share floating-block sticky-top">
        
          <h2 class="mb-3 text-black">Subscribe to Newsletter</h2>
          <p>Far far away behind the word mountains far from.</p>
          <form action="#">
            <input type="email" class="form-control mb-2" placeholder="Enter email">
            <input type="submit" value="Subscribe" class="btn btn-primary btn-block">
          </form>
      </div>
    </div>
  </div>
</div>